:root {
--federal-blue: #03045eff;
--honolulu-blue: #0077b6ff;
--pacific-cyan: #00b4d8ff;
--non-photo-blue: #90e0efff;
--light-cyan: #caf0f8ff;
--grey-blue: #AFD3E2;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: whitesmoke;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 10vh;
    margin-bottom: 5vh;
    color: var(--federal-blue);
}

input {
    margin-top: ;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

button {
    border: solid;
    border-width: 1px;
    border-radius: 2px;
}

.gameboard-container {
    display: grid;
    grid-template-columns: repeat(3, 10vh);
    grid-template-rows: repeat(3, 10vh);
    overflow: hidden;
}

.gameboard-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--honolulu-blue);
    border-collapse: collapse;
}

.game-info-div {
    margin: 64px;
}

.game-inactive-div {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    padding: 8px;
    padding-bottom: 16px;
    max-width: 700px;
    width: 70vw;
    min-height: 200px;
    height: 15vh;
    background-color: white;
    color: var(--federal-blue);
}

.game-active-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    width: 70vw;
    min-height: 200px;
    height: 15vh;
    background-color: white;
    border-style: solid;
    border-color: var(--federal-blue);
}

.player-form-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;
}

.player-one-div,
.player-two-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 2vh;
}

.player-game-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin: 16px;
    margin-right: 64px;
    margin-left: 64px;
}

.player-marker-div {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker-icons {
    width: 7vw;
    display: flex;
    align-items: baseline;
    margin: 8px;
}

.marker {
    height: 2vw;
    width: 2vw;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--honolulu-blue);
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    border-width: 4px;
}

.start-div,
.reset-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    max-width: 200px;
}

div.reset-div {
    display: flex;
    height: 5vh;
    flex-direction: row;
    align-items: center;
    margin: 16px;
}

.opponent-selection-div {
    margin-top: 16px;
    gap: 16px;
    display: flex;
    justify-content: center;
}

.start-button,
.reset-button {
    width: 11vw;
    color: white;
    background-color: var(--honolulu-blue);
    border-color: white;
    border-radius: 4px;
    font-weight: 600;
    padding-top: 4px;
}

.start-button:hover {
    transition: 0.5s;

    background-color: var(--pacific-cyan);
    color: white;
}

.reset-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 4px;
    padding: 4px;
    gap: 4px;
    justify-content: space-evenly;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.reset-button:hover {
    transition: 0.2s;
    background-color: whitesmoke;
    color: var(--federal-blue);
    border-color: var(--federal-blue);
    border-width: 4px;
}

.opponent-button {
    background-color: white;
    width: 6vw;
    height: 4vw;
    padding: 4px;
    font-weight: 600;
    background-color: var(--pacific-cyan);
    color: white;
    border-style: solid;
    border-radius: 4px;
}

.opponent-button:hover {
    transition: 0.2s;
    border: solid;
    border-width: 2px;
    border-color: var(--honolulu-blue);
}

.active-opponent-button {
    background-color: var(--non-photo-blue);
    color: black;
    border-style: solid;
    border-width: 2px;

}

.inactive-opponent-button {
    background-color: white;
    color: black;
}

.computer-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

#ai-versus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#computer-difficulty-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    width: 6vw;
    height: 24px;
    border: solid;
    border-width: 2px;
    border-color: var(--grey-blue);
    background-color: white;
    border-radius: 2px;
}
