:root {
--federal-blue: #03045eff;
--honolulu-blue: #0077b6ff;
--pacific-cyan: #00b4d8ff;
--non-photo-blue: #90e0efff;
--light-cyan: #caf0f8ff;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: whitesmoke;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 10vh;
    margin-bottom: 5vh;
    color: var(--federal-blue);
}

input {
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

button {
    border: solid;
    border-width: 1px;
    border-radius: 2px;
}

.gameboard-container {
    display: grid;
    grid-template-columns: repeat(3, 10vh);
    grid-template-rows: repeat(3, 10vh);
    overflow: hidden;
}

.gameboard-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--honolulu-blue);
    border-collapse: collapse;

}

.game-info-div {
    margin: 64px;
}

.game-inactive-div {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    padding: 8px;
    padding-bottom: 16px;
    background-color: var(--pacific-cyan);
    color: white;
}

.game-active-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    width: 50vw;
}

.player-form-div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.player-one-div,
.player-two-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.player-game-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player-one-info,
.player-two-info {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 8px;
    margin: 16px;
    margin-right: 32px;
    margin-left: 32px;
}

.marker-icons {
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 8px;
}

.marker {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--honolulu-blue);
    color: white;
    border-width: 2px;
}

.start-div,
.reset-div {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

div.reset-div {
    height: 5vh;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.start-button,
.reset-button {
    width: 11vw;
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 4px;
    font-weight: 600;
    padding-top: 4px;
}

.reset-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 4px;
    padding: 4px;
    gap: 4px;
    justify-content: space-evenly;
    background-color: var(--pacific-cyan);
}